JELLYFIN_SERVER="http://192.168.0.100:8096"
JELLYFIN_USERNAME="root"
JELLYFIN_PW="your-super-good-password-here"

JELLYSEERR_SERVER="http://192.168.0.100:5055" # OPTIONAL!
JELLYSEERR_API_KEY="your-super-secret-api-key" # OPTIONAL!

PORT=60421 # OPTIONAL!

TMDB_API_KEY="tmdb-api-key-here"