JELLYFIN_SERVER="http://192.168.0.100:8096"
JELLYFIN_USERNAME="root"
JELLYFIN_PW="your-super-good-password-here"

JELLYSEERR_SERVER="http://192.168.0.100:5055" # OPTIONAL!
JELLYSEERR_API_KEY="your-super-secret-api-key" # OPTIONAL!

ADDON_SERVER="http://192.168.0.101:60421" # HOST WHERE THIS ADDON IS RUNNING (must include port if not using a domain name.)
PORT=60421 # OPTIONAL!

TMDB_API_KEY="tmdb-api-key-here"